.plans{
    padding: 5.6vw;

    h2{
        text-align: center;
    }

    .button{
        margin-top: 24px;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        @media(max-width: 768px){
            display: block;
            margin-top: 0;
    }

        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;
            @media(max-width: 768px){
                margin: auto;
            }


            &:nth-child(2){
                background-image: url(../images/fundo_combo_plus.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

            img{
                height: 60px;
            }

            strong{
                display: block;
                margin-top: 24px;
            }
        }
    }
    
    p{
        text-align: center;
    }
}