@use '../config/_variaveis';
@use '../config/reset';
@use '_hero';
@use '_shows';


@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10;
    color: variaveis.$corPrincipal
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corSecundaria;
}

body{
    background-color: variaveis.$corDeFundo;
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.text--big{
    @include text(18px);
}

.link--text{
    @include text(18px);
    color: variaveis.$corSecundaria;
    text-decoration: underline;
    cursor: pointer;
}

.title{
    @include title;
}

.title--small{
    @include title(28px);
}

.title--big{
    @include title(44px);
}