$corDeFundo: #040714;
$corPrincipal: silver;
$corSecundaria: #f9f9f9;
$btnBgPrimaryColor: #6421ff;
$btnBgSecundaryColor: #0063e5;
$btnBgDarkColor: #000;

// font
@font-face {
    font-family: Avenir;
    src: url(../../assets/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/Avenir-Bold.woff2);
    font-weight: 700;
}